@keyframes flash {
    0% { background-color: inherit; }
    50% { background-color: #ffff99; } /* Change to the color you want for the flash effect */
    100% { background-color: inherit; }
  }
  
  .flash {
    animation: flash 0.5s ease-in-out;
  }
  
  
  