name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy
        uses: easingthemes/ssh-deploy@v2
        with:
          server_ip: ${{ secrets.SERVER_IP }}
          server_port: ${{ secrets.SERVER_PORT }}
          server_username: ${{ secrets.SERVER_USERNAME }}
          server_password: ${{ secrets.SERVER_PASSWORD }}
          local_path: './build/*'
          remote_path: '/var/www/html/test'
