name: Build a React app and deploy it (No continous integration yet)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: sync the code
        uses: actions/checkout@v4
      - name: Install dependencies and build
        run: |
          echo "Installing dependencies"
          npm install
          echo
          echo "Building ..."
          npm run build
      - name: Transfer build file to my linode server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          strip_components: 1
          source: "build/*"
          target: "/var/www/html/grocery-app/"

  
          
